
.media-item {
    position: relative;
    padding-top: 56.25%;
    background-color: gray;
    color: #fff;
    overflow: hidden;
}

.media-item__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    z-index: 2;
}

.media-item__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000 0 0 no-repeat;
    background-size: cover;
}
